body{
    font-family: 'Raleway','Roboto', "helvetica neue", Helvetica, Arial, sans-serif;
}
.layer{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(1,0,39,0.5);
        z-index: -2;
}
.img1{
    background: url(../img/1.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1.jpeg', sizingMethod='scale')";
}

.img2{

    background: url(../img/2.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2.jpeg', sizingMethod='scale')";
}
.img3{
    background: url(../img/3.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3.jpeg', sizingMethod='scale')";
}
.img4{
    background: url(../img/4.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/4.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/4.jpeg', sizingMethod='scale')";
}
.img5{
    background: url(../img/5.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/5.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/5.jpeg', sizingMethod='scale')";
}
.img6{
    background: url(../img/6.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/6.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/6.jpeg', sizingMethod='scale')";
}
.img7{
    background: url(../img/7.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/7.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/7.jpeg', sizingMethod='scale')";
}
.container {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.main {
    margin-top: 100px;
    padding: 0 16px;
    text-align: center;
}
.logo {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 4;
    background-color:#FEDB75;
    border-bottom: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.logo span {
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.topBar {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 2;
}
.line {
    display: block;
    width: 100%;
    height: 4px;
    margin: 0;
    padding:0;
    background-color: #FEDB75;
}
.whiteBar {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.94;
}

h1 {
    font-family: 'Roboto';
    margin: 72px 8px 0 8px;
    color: white;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -2px;
}
h2 {
    margin: 16px 8px 0 8px;
    color: white;
    font-size: 16px;
    font-style: italic;
    font-weight:lighter;
    line-height: 120%;
}
h3 {
    margin: 16px 8px 0 8px;
    color:     background-color: #161944;
    ;
    font-size: 20px;
    line-height: 140%;
}
p {
    margin: 16px 8px 0 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #737373;
    font-size: 16px;
    line-height: 140%;  
}
.explain {
    text-align: left;
    margin: 40px 8px 200px 8px;
}
.arrow {
    margin-top: 4px;
    margin-bottom: 20px;
}
.info {
    margin: 32px 16px 40px 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
a {color:white}
a:hover {text-decoration: none;}
.action {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.button { 
    color: #000000; 
    padding: 16px 40px;
    background-color: #FEDB75;
    border-radius: 100px;   
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.button:hover {
    color: #FEDB75;
    background-color: #161944;
}

.lastChance {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #161944;
}